* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Source sans pro", sans-serif;
    --color-main: #7c3aed;
    --color-aux: #5a29e4;
    --color-greyBoxShadow: #f4f3ee;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafc;
}
